.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.error { border: 1px solid red; }
.success { border: 1px solid forestgreen; }

.article-container {
  -webkit-columns: 2; /* Chrome, Safari, Opera */
  -moz-columns: 2; /* Firefox */
  columns: 2;
}


.form-element label {
  display: inline-block;
  width: 150px;

}

.datepicker.dropdown-menu {
  z-index: 9999 !important;
}